
body{
  margin: 0;
  display: flex;
  background-color: rgba(255,255,255, .8);
  background-image: url("https://images.unsplash.com/photo-1483354483454-4cd359948304");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
